@import "tailwindcss";

@theme {
  --color-brand-50: #effaf9;
  --color-brand-100: #d3f3f0;
  --color-brand-200: #a9e6e1;
  --color-brand-300: #74d1cd;
  --color-brand-400: #42b6b5;
  --color-brand-500: #289a9d;
  --color-brand-600: #1f7c82;
  --color-brand-700: #1e646a;
  --color-brand-800: #1e5055;
  --color-brand-900: #1d4448;

  --font-sans: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}